<?xml version="1.0"?>
<configuration>
    <startup> 
        <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="MyKey" value="Data Source=172.30.4.10;Initial Catalog=lportal;User ID=lumina-admin;Password=Ljo75a8BK7;"/>
    <add key="queueURL" value="tcp://172.30.0.15:61616?wireFormat.maxInactivityDuration=-1"/>
    <add key="queueName" value="queue://DISTILLER_IN"/>
    <add key="SleepTime" value="90"/>
    <add key="ExePath" value="C:\Program Files (x86)\Arbortext\APP-D Unicode\APP.exe"/>
    <add key="PSCreatePath" value="D:\CAPS\cup-pscreate\pscreate.exe"/>
    <add key="NewExePath1" value="C:\Program Files (x86)\Arbortext\APP-D Unicode\APP.exe"/>
    <add key="NewExePath" value="D:\executor_pagination\LdApp\LdApp.exe"/>
    <add key="3dPath" value="D:\server\tomcat8\webapps\ROOT\stockage\stock\"/>
    <add key="templatePath" value="K:"/>
    <add key="xmlPath" value="D:\server\tomcat8\webapps\ROOT\stockage\stock\"/>
    <add key="loc" value="CLOUD"/>
    <add key="FontsDest" value="D:\server\tomcat8\webapps\ROOT\stockage\templates\"/>
    <add key="FontsSource" value="\\172.18.3.107\d\server\tomcat8\webapps\ROOT\stockage\templates"/>
    <add key="EpicTool" value="\\172.18.254.156\3b2template\d\epictool\"/>
  </appSettings>
</configuration>
